<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <a asp-controller="Home" asp-action="Test">Test</a>
    <a asp-controller="Home" asp-action="Index">Index</a>
    @RenderBody();
</body>
</html>
